@model IEnumerable<ClassProject.Models.employee>

@{
    ViewBag.Title = "Index";
}
<br>
<div class="container" style="border-radius:5px;background-color:#88BDBC;padding:20px;padding-top:30px">
    <form class="form" asp-controller="Employee" asp-action="Index" method="get">
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="lastname">@Html.DisplayNameFor(model => model.lname)</label>
                <input class="form-control" type="text" placeholder="@Html.DisplayNameFor(model => model.lname)" value="@ViewBag.lastname" name="lastname" />
            </div>
            <div class="form-group col-md-3">
                <label for="firstname">@Html.DisplayNameFor(model => model.fname)</label>
                <input class="form-control" type="text" placeholder="@Html.DisplayNameFor(model => model.fname)" value="@ViewBag.firstname" name="firstname" />
            </div>
            <div class="form-group col-md-3">
                <label for="minit">@Html.DisplayNameFor(model => model.minit)</label>
                <select name="minit" class="form-control">
                    <option value="">-- All --</option>
                    @foreach (var item in ViewBag.minitList)
                    {
                        if (item == ViewBag.minit)
                        {
                            <option selected>@item</option>
                        }
                        else
                        {
                            <option>@item</option>
                        }

                    }

                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="job_lvl">@Html.DisplayNameFor(model => model.job_lvl)</label>
                <input class="form-control" type="number" placeholder="@Html.DisplayNameFor(model => model.job_lvl)" value="@ViewBag.job_lvl" name="job_lvl" />
            </div>

        </div>
        <div class="form-row ">
            <div class="form-group col-md-3">
                <label for="hire_date_from">@Html.DisplayNameFor(model => model.hire_date) From</label>
                <input class="form-control" type="date" placeholder="@Html.DisplayNameFor(model => model.hire_date) From" value="@ViewBag.hire_date_from" name="hire_date_from" />
            </div>
            <div class="form-group col-md-3">
                <label for="hire_date_to">@Html.DisplayNameFor(model => model.hire_date) To</label>
                <input class="form-control" type="date" placeholder="@Html.DisplayNameFor(model => model.hire_date) To" value="@ViewBag.hire_date_to" name="hire_date_to" />
            </div>
            <div class="form-group col-md-3">
                <label for="job_desc">@Html.DisplayNameFor(model => model.job.job_desc)</label>
                <select name="job_desc" class="form-control">
                    <option value="">-- All --</option>
                    @foreach (var item in ViewBag.joblist)
                    {
                        if (item == ViewBag.job_desc)
                        {
                            <option selected>@item</option>
                        }
                        else
                        {
                            <option>@item</option>
                        }

                    }

                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="pub_name">@Html.DisplayNameFor(model => model.publisher.pub_name)</label>
                <select name="pub_name" class="form-control">
                    <option value="">-- All --</option>
                    @foreach (var item in ViewBag.pub_names)
                    {
                        if (item == ViewBag.pub_name)
                        {
                            <option selected>@item</option>
                        }
                        else
                        {
                            <option>@item</option>
                        }

                    }

                </select>
            </div>
        </div>
        <div class="form-row ">
            <div class="form-group col-md-4">
                <input type="submit" value="Search" class="btn btn-primary">
            </div>
        </div>
    </form>
</div>

<br>
<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>
<br>

<table class="table">
    <tr>
        <th>
            <form class="form" asp-controller="Authors" asp-action="Index" method="get">

                <input type="text" value="firstname" hidden name="orderby" />
                @if (ViewBag.order == "asc")
                {
                    <input type="text" value="desc" hidden name="order" />
                }
                else
                {
                    <input type="text" value="asc" hidden name="order" />
                }
                <input type="text" value="@ViewBag.firstname" hidden name="firstname" />
                <input type="text" value="@ViewBag.lastname" hidden name="lastname" />
                <input type="text" value="@ViewBag.minit" hidden name="minit" />
                <input type="text" value="@ViewBag.job_lvl" hidden name="job_lvl" />
                <input type="text" value="@ViewBag.job_desc" hidden name="job_desc" />
                <input type="text" value="@ViewBag.pub_name" hidden name="pub_name" />
                <input type="text" value="@ViewBag.hire_date_from" hidden name="hire_date_from" />
                <input type="text" value="@ViewBag.hire_date_to" hidden name="hire_date_to" />
                <div>

                    <input type="submit" class="btn btn-default" value="@Html.DisplayNameFor(model => model.fname) ">

                    @if (ViewBag.orderby == "firstname")
                    {
                        @Html.Partial("../Shared/SortArrows")
                    }


                </div>
            </form>
        </th>
        <th>
            <form class="form" asp-controller="Authors" asp-action="Index" method="get">

                <input type="text" value="minit" hidden name="orderby" />
                @if (ViewBag.order == "asc")
                {
                    <input type="text" value="desc" hidden name="order" />
                }
                else
                {
                    <input type="text" value="asc" hidden name="order" />
                }
                <input type="text" value="@ViewBag.firstname" hidden name="firstname" />
                <input type="text" value="@ViewBag.lastname" hidden name="lastname" />
                <input type="text" value="@ViewBag.minit" hidden name="minit" />
                <input type="text" value="@ViewBag.job_lvl" hidden name="job_lvl" />
                <input type="text" value="@ViewBag.job_desc" hidden name="job_desc" />
                <input type="text" value="@ViewBag.pub_name" hidden name="pub_name" />
                <input type="text" value="@ViewBag.hire_date_from" hidden name="hire_date_from" />
                <input type="text" value="@ViewBag.hire_date_to" hidden name="hire_date_to" />

                <div>

                    <input type="submit" class="btn btn-default" value="@Html.DisplayNameFor(model => model.minit) ">

                    @if (ViewBag.orderby == "minit")
                    {
                        @Html.Partial("../Shared/SortArrows")
                    }


                </div>
            </form>
        </th>
        <th>
            <form class="form" asp-controller="Authors" asp-action="Index" method="get">

                <input type="text" value="lastname" hidden name="orderby" />
                @if (ViewBag.order == "asc")
                {
                    <input type="text" value="desc" hidden name="order" />
                }
                else
                {
                    <input type="text" value="asc" hidden name="order" />
                }
                <input type="text" value="@ViewBag.firstname" hidden name="firstname" />
                <input type="text" value="@ViewBag.lastname" hidden name="lastname" />
                <input type="text" value="@ViewBag.minit" hidden name="minit" />
                <input type="text" value="@ViewBag.job_lvl" hidden name="job_lvl" />
                <input type="text" value="@ViewBag.job_desc" hidden name="job_desc" />
                <input type="text" value="@ViewBag.pub_name" hidden name="pub_name" />
                <input type="text" value="@ViewBag.hire_date_from" hidden name="hire_date_from" />
                <input type="text" value="@ViewBag.hire_date_to" hidden name="hire_date_to" />

                <div>

                    <input type="submit" class="btn btn-default" value="@Html.DisplayNameFor(model => model.lname) ">

                    @if (ViewBag.orderby == "lastname")
                    {
                        @Html.Partial("../Shared/SortArrows")
                    }


                </div>
            </form>
        </th>
        <th>
            <form class="form" asp-controller="Authors" asp-action="Index" method="get">

                <input type="text" value="job_lvl" hidden name="orderby" />
                @if (ViewBag.order == "asc")
                {
                    <input type="text" value="desc" hidden name="order" />
                }
                else
                {
                    <input type="text" value="asc" hidden name="order" />
                }
                <input type="text" value="@ViewBag.firstname" hidden name="firstname" />
                <input type="text" value="@ViewBag.lastname" hidden name="lastname" />
                <input type="text" value="@ViewBag.minit" hidden name="minit" />
                <input type="text" value="@ViewBag.job_lvl" hidden name="job_lvl" />
                <input type="text" value="@ViewBag.job_desc" hidden name="job_desc" />
                <input type="text" value="@ViewBag.pub_name" hidden name="pub_name" />
                <input type="text" value="@ViewBag.hire_date_from" hidden name="hire_date_from" />
                <input type="text" value="@ViewBag.hire_date_to" hidden name="hire_date_to" />

                <div>

                    <input type="submit" class="btn btn-default" value="@Html.DisplayNameFor(model => model.job_lvl) ">

                    @if (ViewBag.orderby == "job_lvl")
                    {
                        @Html.Partial("../Shared/SortArrows")
                    }


                </div>
            </form>
        </th>
        <th>
            <form class="form" asp-controller="Authors" asp-action="Index" method="get">

                <input type="text" value="hire_date" hidden name="orderby" />
                @if (ViewBag.order == "asc")
                {
                    <input type="text" value="desc" hidden name="order" />
                }
                else
                {
                    <input type="text" value="asc" hidden name="order" />
                }
                <input type="text" value="@ViewBag.firstname" hidden name="firstname" />
                <input type="text" value="@ViewBag.lastname" hidden name="lastname" />
                <input type="text" value="@ViewBag.minit" hidden name="minit" />
                <input type="text" value="@ViewBag.job_lvl" hidden name="job_lvl" />
                <input type="text" value="@ViewBag.job_desc" hidden name="job_desc" />
                <input type="text" value="@ViewBag.pub_name" hidden name="pub_name" />
                <input type="text" value="@ViewBag.hire_date_from" hidden name="hire_date_from" />
                <input type="text" value="@ViewBag.hire_date_to" hidden name="hire_date_to" />

                <div>

                    <input type="submit" class="btn btn-default" value="@Html.DisplayNameFor(model => model.hire_date) ">

                    @if (ViewBag.orderby == "hire_date")
                    {
                        @Html.Partial("../Shared/SortArrows")
                    }


                </div>
            </form>
        </th>
        <th>
            <form class="form" asp-controller="Authors" asp-action="Index" method="get">

                <input type="text" value="job_desc" hidden name="orderby" />
                @if (ViewBag.order == "asc")
                {
                    <input type="text" value="desc" hidden name="order" />
                }
                else
                {
                    <input type="text" value="asc" hidden name="order" />
                }
                <input type="text" value="@ViewBag.firstname" hidden name="firstname" />
                <input type="text" value="@ViewBag.lastname" hidden name="lastname" />
                <input type="text" value="@ViewBag.minit" hidden name="minit" />
                <input type="text" value="@ViewBag.job_lvl" hidden name="job_lvl" />
                <input type="text" value="@ViewBag.job_desc" hidden name="job_desc" />
                <input type="text" value="@ViewBag.pub_name" hidden name="pub_name" />
                <input type="text" value="@ViewBag.hire_date_from" hidden name="hire_date_from" />
                <input type="text" value="@ViewBag.hire_date_to" hidden name="hire_date_to" />

                <div>

                    <input type="submit" class="btn btn-default" value="@Html.DisplayNameFor(model => model.job.job_desc) ">

                    @if (ViewBag.orderby == "job_desc")
                    {
                        @Html.Partial("../Shared/SortArrows")
                    }


                </div>
            </form>
        </th>
        <th>
            <form class="form" asp-controller="Authors" asp-action="Index" method="get">

                <input type="text" value="pub_name" hidden name="orderby" />
                @if (ViewBag.order == "asc")
                {
                    <input type="text" value="desc" hidden name="order" />
                }
                else
                {
                    <input type="text" value="asc" hidden name="order" />
                }
                <input type="text" value="@ViewBag.firstname" hidden name="firstname" />
                <input type="text" value="@ViewBag.lastname" hidden name="lastname" />
                <input type="text" value="@ViewBag.minit" hidden name="minit" />
                <input type="text" value="@ViewBag.job_lvl" hidden name="job_lvl" />
                <input type="text" value="@ViewBag.job_desc" hidden name="job_desc" />
                <input type="text" value="@ViewBag.pub_name" hidden name="pub_name" />
                <input type="text" value="@ViewBag.hire_date_from" hidden name="hire_date_from" />
                <input type="text" value="@ViewBag.hire_date_to" hidden name="hire_date_to" />

                <div>

                    <input type="submit" class="btn btn-default" value="@Html.DisplayNameFor(model => model.publisher.pub_name) ">

                    @if (ViewBag.orderby == "pub_name")
                    {
                        @Html.Partial("../Shared/SortArrows")
                    }


                </div>
            </form>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.minit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.job_lvl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hire_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.job.job_desc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.publisher.pub_name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.emp_id }, new { @class = "btn btn-warning" })
                @Html.ActionLink("Details", "Details", new { id = item.emp_id }, new { @class = "btn btn-info" })
                @Html.ActionLink("Delete", "Delete", new { id = item.emp_id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>