@model IEnumerable<ClassProject.Models.employee>

@{
    ViewBag.Title = "Index";
}

<div class="container" style="border-radius:5px;background-color:#88BDBC;padding:20px;padding-top:30px">
    <form class="form" asp-controller="Employee" asp-action="Index" method="get">
        <div class="form-row">
            <div class="form-group col-md-3">
                <input class="form-control" type="text" placeholder="@Html.DisplayNameFor(model => model.lname)" value="@ViewBag.lastname" name="lastname" />
            </div>
            <div class="form-group col-md-3">
                <input class="form-control" type="text" placeholder="@Html.DisplayNameFor(model => model.fname)" value="@ViewBag.minit" name="firstname" />
            </div>
            <div class="form-group col-md-3">

                <select name="minit" class="form-control">
                    @foreach (var item in ViewBag.minitList)
                    {
                        <option>@item</option>
                    }

                </select>
            </div>
            <div class="form-group col-md-3">
                <input class="form-control" type="text" placeholder="" value="" name="Address" />
            </div>
        </div>


        <div class="form-row ">
            <div class="form-group col-md-4">
                <input type="submit" value="Search" class="btn btn-primary">
            </div>
        </div>
    </form>
</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.minit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.job_lvl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hire_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.job.job_desc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.publisher.pub_name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.minit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.job_lvl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hire_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.job.job_desc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.publisher.pub_name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.emp_id }) |
                @Html.ActionLink("Details", "Details", new { id = item.emp_id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.emp_id })
            </td>
        </tr>
    }

</table>