@model IEnumerable<ClassProject.Models.discount>

@{
    ViewBag.Title = "Index";
}

<br>
<div class="container" style="border-radius:5px;background-color:#88BDBC;padding:20px;padding-top:30px">
    <form class="form" asp-controller="Discount" asp-action="Index" method="get">
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="discounttype">@Html.DisplayNameFor(model => model.discounttype)</label>
                <select name="discounttype" class="form-control">
                    <option value="">-- All --</option>
                    @foreach (var item in ViewBag.discounttypes)
                    {
                        if (item == ViewBag.discounttype)
                        {
                            <option selected>@item</option>
                        }
                        else
                        {
                            <option>@item</option>
                        }

                    }
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="storename">@Html.DisplayNameFor(model => model.store.stor_name)</label>
                <select name="storename" class="form-control">
                    <option value="">-- All --</option>
                    @foreach (var item in ViewBag.stores)
                    {
                        if (item == ViewBag.storename)
                        {
                            <option selected>@item</option>
                        }
                        else
                        {
                            <option>@item</option>
                        }
                    }
                </select>
            </div> 
            <div class="form-group col-md-3">
                <label for="discount_from">@Html.DisplayNameFor(model => model.discount1) From</label>
                <input class="form-control" type="number" placeholder="@Html.DisplayNameFor(model => model.discount1) From" value="@ViewBag.discount_from" name="discount_from" />
            </div>
            <div class="form-group col-md-3">
                <label for="discount_to">@Html.DisplayNameFor(model => model.discount1) To</label>
                <input class="form-control" type="number" placeholder="@Html.DisplayNameFor(model => model.discount1) To" value="@ViewBag.discount_to" name="discount_to" />
            </div>
            <div class="form-group col-md-3">
                <label for="lowqty">@Html.DisplayNameFor(model => model.lowqty)</label>
                <input class="form-control" type="number" placeholder="@Html.DisplayNameFor(model => model.lowqty) From" value="@ViewBag.lowqty" name="lowqty" />
            </div>
            <div class="form-group col-md-3">
                <label for="highqty">@Html.DisplayNameFor(model => model.highqty)</label>
                <input class="form-control" type="number" placeholder="@Html.DisplayNameFor(model => model.highqty) To" value="@ViewBag.highqty" name="highqty" />
            </div>
        </div>


        <div class="form-row ">
            <div class="form-group col-md-12">
                <input type="submit" value="Search" class="btn btn-primary">
            </div>
        </div>
</form>
</div>

<br>
<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>
<br>

<table class="table">
    <tr>
        <th>

            <form class="form" asp-controller="Discount" asp-action="Index" method="get">

                <input type="text" value="discounttype" hidden name="orderby" />
                @if (ViewBag.order == "asc")
                {
                    <input type="text" value="desc" hidden name="order" />
                }
                else
                {
                    <input type="text" value="asc" hidden name="order" />
                }
                <input type="text" value="@ViewBag.discounttype" hidden name="discounttype" />
                <input type="text" value="@ViewBag.storename" hidden name="storename" />
                <input type="text" value="@ViewBag.discount_from" hidden name="discount_from" />
                <input type="text" value="@ViewBag.discount_to" hidden name="discount_to" />
                <input type="text" value="@ViewBag.lowqty" hidden name="lowqty" />
                <input type="text" value="@ViewBag.highqty" hidden name="highqty" />


                <div>

                    <input type="submit" class="btn btn-default" value="@Html.DisplayNameFor(model => model.discounttype) ">

                    @if (ViewBag.orderby == "discounttype")
                    {
                        @Html.Partial("../Shared/SortArrows")
                    }


                </div>


            </form>
        </th>
        <th>
            <form class="form" asp-controller="Discount" asp-action="Index" method="get">

                <input type="text" value="storename" hidden name="orderby" />
                @if (ViewBag.order == "asc")
                {
                    <input type="text" value="desc" hidden name="order" />
                }
                else
                {
                    <input type="text" value="asc" hidden name="order" />
                }
                <input type="text" value="@ViewBag.discounttype" hidden name="discounttype" />
                <input type="text" value="@ViewBag.storename" hidden name="storename" />
                <input type="text" value="@ViewBag.discount_from" hidden name="discount_from" />
                <input type="text" value="@ViewBag.discount_to" hidden name="discount_to" />
                <input type="text" value="@ViewBag.lowqty" hidden name="lowqty" />
                <input type="text" value="@ViewBag.highqty" hidden name="highqty" />
                <div>

                    <input type="submit" class="btn btn-default" value="@Html.DisplayNameFor(model => model.store.stor_name) ">

                    @if (ViewBag.orderby == "storename")
                    {
                        @Html.Partial("../Shared/SortArrows")
                    }


                </div>

            </form>
        </th>
        <th>
            <form class="form" asp-controller="Discount" asp-action="Index" method="get">

                <input type="text" value="discount" hidden name="orderby" />
                @if (ViewBag.order == "asc")
                {
                    <input type="text" value="desc" hidden name="order" />
                }
                else
                {
                    <input type="text" value="asc" hidden name="order" />
                }
                <input type="text" value="@ViewBag.discounttype" hidden name="discounttype" />
                <input type="text" value="@ViewBag.storename" hidden name="storename" />
                <input type="text" value="@ViewBag.discount_from" hidden name="discount_from" />
                <input type="text" value="@ViewBag.discount_to" hidden name="discount_to" />
                <input type="text" value="@ViewBag.lowqty" hidden name="lowqty" />
                <input type="text" value="@ViewBag.highqty" hidden name="highqty" />
                <div>

                    <input type="submit" class="btn btn-default" value="@Html.DisplayNameFor(model => model.discount1) ">

                    @if (ViewBag.orderby == "discount")
                    {
                        @Html.Partial("../Shared/SortArrows")
                    }


                </div>
            </form>
        </th>
        <th>
            <form class="form" asp-controller="Discount" asp-action="Index" method="get">

                <input type="text" value="lowqty" hidden name="orderby" />
                @if (ViewBag.order == "asc")
                {
                    <input type="text" value="desc" hidden name="order" />
                }
                else
                {
                    <input type="text" value="asc" hidden name="order" />
                }
                <input type="text" value="@ViewBag.discounttype" hidden name="discounttype" />
                <input type="text" value="@ViewBag.storename" hidden name="storename" />
                <input type="text" value="@ViewBag.discount_from" hidden name="discount_from" />
                <input type="text" value="@ViewBag.discount_to" hidden name="discount_to" />
                <input type="text" value="@ViewBag.lowqty" hidden name="lowqty" />
                <input type="text" value="@ViewBag.highqty" hidden name="highqty" />
                <div>

                    <input type="submit" class="btn btn-default" value="@Html.DisplayNameFor(model => model.lowqty) ">

                    @if (ViewBag.orderby == "lowqty")
                    {
                        @Html.Partial("../Shared/SortArrows")
                    }


                </div>
            </form>
        </th>
        <th>
            <form class="form" asp-controller="Discount" asp-action="Index" method="get">

                <input type="text" value="highqty" hidden name="orderby" />
                @if (ViewBag.order == "asc")
                {
                    <input type="text" value="desc" hidden name="order" />
                }
                else
                {
                    <input type="text" value="asc" hidden name="order" />
                }
                <input type="text" value="@ViewBag.discounttype" hidden name="discounttype" />
                <input type="text" value="@ViewBag.storename" hidden name="storename" />
                <input type="text" value="@ViewBag.discount_from" hidden name="discount_from" />
                <input type="text" value="@ViewBag.discount_to" hidden name="discount_to" />
                <input type="text" value="@ViewBag.lowqty" hidden name="lowqty" />
                <input type="text" value="@ViewBag.highqty" hidden name="highqty" />
                <div>

                    <input type="submit" class="btn btn-default" value="@Html.DisplayNameFor(model => model.highqty) ">

                    @if (ViewBag.orderby == "highqty")
                    {
                        @Html.Partial("../Shared/SortArrows")
                    }


                </div>
            </form>
        </th>
        <th>


        </th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>

       @Html.DisplayFor(modelItem => item.discounttype)

    </td>
    <td>
        @Html.DisplayFor(modelItem => item.store.stor_name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.discount1)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.lowqty)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.highqty)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { discounttype = item.discounttype, stor_id = item.stor_id }, new { @class = "btn btn-warning" })
        @Html.ActionLink("Details", "Details", new { discounttype = item.discounttype, stor_id = item.stor_id }, new { @class = "btn btn-info" })
        @Html.ActionLink("Delete", "Delete", new { discounttype = item.discounttype, stor_id = item.stor_id }, new { @class = "btn btn-danger" })
    </td>
</tr>
}

</table>
