@model IEnumerable<ClassProject.Models.discount>

@{
    ViewBag.Title = "Index";
}

<br>
<div class="container" style="border-radius:5px;background-color:#88BDBC;padding:20px;padding-top:30px">
    <form class="form" asp-controller="Discount" asp-action="Index" method="get">
        <div class="form-row">
            <div class="form-group col-md-3">
                <select name="discounttype" class="form-control">
                    <option value="">-- All --</option>
                    @foreach (var item in ViewBag.discounttypes)
                    {
                        if (item == ViewBag.discounttype)
                        {
                            <option selected>@item</option>
                        }
                        else
                        {
                            <option>@item</option>
                        }
                        
                    }
                </select>
            </div>
            <div class="form-group col-md-3">
                <select name="storename" class="form-control">
                    <option value="">-- All --</option>
                    @foreach (var item in ViewBag.stores)
                    {
                        if (item == ViewBag.storename)
                        {
                            <option selected>@item</option>
                        }
                        else
                        {
                            <option>@item</option>
                        }
                    }  
                </select>
            </div> 
            <div class="form-group col-md-3">
                <input class="form-control" type="text" placeholder="@Html.DisplayNameFor(model => model.discount1) From" value="@ViewBag.discount_from" name="discount_from" />
            </div>
            <div class="form-group col-md-3">
                <input class="form-control" type="text" placeholder="@Html.DisplayNameFor(model => model.discount1) To" value="@ViewBag.discount_to" name="discount_to" />
            </div>
            <div class="form-group col-md-3">
                <input class="form-control" type="text" placeholder="@Html.DisplayNameFor(model => model.lowqty) From" value="@ViewBag.lowqty" name="lowqty" />
            </div>
            <div class="form-group col-md-3">
                <input class="form-control" type="text" placeholder="@Html.DisplayNameFor(model => model.highqty) To" value="@ViewBag.highqty" name="highqty" />
            </div>
        </div>


        <div class="form-row ">
            <div class="form-group col-md-4">
                <input type="submit" value="Search" class="btn btn-primary">
            </div>
        </div>
</form>
</div>

<br>
<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>
<br>

<table class="table">
    <tr>
        <th>

            <form class="form" asp-controller="Discount" asp-action="Index" method="get">
                <input type="text" value="discounttype" hidden name="orderby" />
                <input type="text" value="@ViewBag.discounttype" hidden name="discounttype" />
                <input type="text" value="@ViewBag.storename" hidden name="storename" />
                <input type="text" value="@ViewBag.discount_from" hidden name="discount_from" />
                <input type="text" value="@ViewBag.discount_to" hidden name="discount_to" />
                <input type="text" value="@ViewBag.lowqty" hidden name="lowqty" />
                <input type="text" value="@ViewBag.highqty" hidden name="highqty" />


                <div>
                
                    <input type="submit" class="btn btn-default" value="@Html.DisplayNameFor(model => model.discounttype) ">
                 
                    @if (ViewBag.orderby == "discounttype")
                    {
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-short" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z" />
                        </svg>
                    }
             

                </div>


            </form>
        </th>
        <th>
            <form class="form" asp-controller="Discount" asp-action="Index" method="get">
                <input type="text" value="storename" hidden name="orderby" />
                <input type="text" value="@ViewBag.discounttype" hidden name="discounttype" />
                <input type="text" value="@ViewBag.storename" hidden name="storename" />
                <input type="text" value="@ViewBag.discount_from" hidden name="discount_from" />
                <input type="text" value="@ViewBag.discount_to" hidden name="discount_to" />
                <input type="text" value="@ViewBag.lowqty" hidden name="lowqty" />
                <input type="text" value="@ViewBag.highqty" hidden name="highqty" />
                <div>

                    <input type="submit" class="btn btn-default" value="@Html.DisplayNameFor(model => model.store.stor_name) ">

                    @if (ViewBag.orderby == "storename")
                    {
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-short" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z" />
                        </svg>
                    }
                

                </div>

            </form>
        </th>
        <th>
            <form class="form" asp-controller="Discount" asp-action="Index" method="get">
                <input type="text" value="discount" hidden name="orderby" />
                <input type="text" value="@ViewBag.discounttype" hidden name="discounttype" />
                <input type="text" value="@ViewBag.storename" hidden name="storename" />
                <input type="text" value="@ViewBag.discount_from" hidden name="discount_from" />
                <input type="text" value="@ViewBag.discount_to" hidden name="discount_to" />
                <input type="text" value="@ViewBag.lowqty" hidden name="lowqty" />
                <input type="text" value="@ViewBag.highqty" hidden name="highqty" />
                <div>

                    <input type="submit" class="btn btn-default" value="@Html.DisplayNameFor(model => model.discount1) ">

                    @if (ViewBag.orderby == "discount")
                    {
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-short" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z" />
                        </svg>
                    }


                </div>
            </form>
        </th>
        <th>
            <form class="form" asp-controller="Discount" asp-action="Index" method="get">
                <input type="text" value="lowqty" hidden name="orderby" />
                <input type="text" value="@ViewBag.discounttype" hidden name="discounttype" />
                <input type="text" value="@ViewBag.storename" hidden name="storename" />
                <input type="text" value="@ViewBag.discount_from" hidden name="discount_from" />
                <input type="text" value="@ViewBag.discount_to" hidden name="discount_to" />
                <input type="text" value="@ViewBag.lowqty" hidden name="lowqty" />
                <input type="text" value="@ViewBag.highqty" hidden name="highqty" />
                <div>

                    <input type="submit" class="btn btn-default" value="@Html.DisplayNameFor(model => model.lowqty) ">

                    @if (ViewBag.orderby == "lowqty")
                    {
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-short" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z" />
                        </svg>
                    }


                </div>
            </form>
        </th>
        <th>
            <form class="form" asp-controller="Discount" asp-action="Index" method="get">
                <input type="text" value="highqty" hidden name="orderby" />
                <input type="text" value="@ViewBag.discounttype" hidden name="discounttype" />
                <input type="text" value="@ViewBag.storename" hidden name="storename" />
                <input type="text" value="@ViewBag.discount_from" hidden name="discount_from" />
                <input type="text" value="@ViewBag.discount_to" hidden name="discount_to" />
                <input type="text" value="@ViewBag.lowqty" hidden name="lowqty" />
                <input type="text" value="@ViewBag.highqty" hidden name="highqty" />
                <div>

                    <input type="submit" class="btn btn-default" value="@Html.DisplayNameFor(model => model.highqty) ">

                    @if (ViewBag.orderby == "highqty")
                    {
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-short" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z" />
                        </svg>
                    }


                </div>
            </form>
        </th>
        <th>


        </th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>

       @Html.DisplayFor(modelItem => item.discounttype)

    </td>
    <td>
        @Html.DisplayFor(modelItem => item.store.stor_name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.discount1)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.lowqty)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.highqty)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { discounttype = item.discounttype, stor_id = item.stor_id }, new { @class = "btn btn-warning" })
        @Html.ActionLink("Details", "Details", new { discounttype = item.discounttype, stor_id = item.stor_id }, new { @class = "btn btn-info" })
        @Html.ActionLink("Delete", "Delete", new { discounttype = item.discounttype, stor_id = item.stor_id }, new { @class = "btn btn-danger" })
    </td>
</tr>
}

</table>
