@model ClassProject.Models.title

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>title</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.title1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.advance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.advance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.royalty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.royalty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ytd_sales)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ytd_sales)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pubdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pubdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.publisher.pub_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.publisher.pub_name)
        </dd>
    </dl>

    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.title_id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>

    <hr />

    <h3>Sales</h3>
    <p>
        @Html.ActionLink("Create New", "Create", "sales", new { title_id = Model.title_id }, null)
    </p>
    @if (Model.sales.Count != 0)
    {
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.sales.First().ord_date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.sales.First().qty)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.sales.First().payterms)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.sales.First().store.stor_name)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.sales)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ord_date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.qty)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.payterms)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.store.stor_name)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", "sales", new { stor_id = item.stor_id, ord_num = item.ord_num, title_id = item.title_id }, null) |
                        @Html.ActionLink("Details", "Details", "sales", new { stor_id = item.stor_id, ord_num = item.ord_num, title_id = item.title_id }, null) |
                        @Html.ActionLink("Delete", "Delete", "sales", new { stor_id = item.stor_id, ord_num = item.ord_num, title_id = item.title_id }, null)
                    </td>
                </tr>
            }

        </table>
    }

    <h3>Royscheds</h3>
    <p>
        @Html.ActionLink("Create New", "Create", "royscheds", new { title_id = Model.title_id }, null)
    </p>
    @if (Model.roysched.Count != 0)
    {
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.roysched.First().lorange)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.roysched.First().hirange)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.roysched.First().royalty)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.roysched)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.lorange)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.hirange)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.royalty)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", "royscheds", new { title_id = item.title_id, lorange = item.lorange, hirange = item.hirange }, null) |
                        @Html.ActionLink("Details", "Details", "royscheds", new { title_id = item.title_id, lorange = item.lorange, hirange = item.hirange }, null) |
                        @Html.ActionLink("Delete", "Delete", "royscheds", new { title_id = item.title_id, lorange = item.lorange, hirange = item.hirange }, null)
                    </td>
                </tr>
            }
        </table>
    }
</div>
