@model IEnumerable<ClassProject.Models.pub_info>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.logo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pr_info)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.publisher.pub_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @{
                var imageBase64 = Convert.ToBase64String(item.logo);
                string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
                <img src="@imageSrc" style="max-width: 250px; height: auto;" alt="No Image"/>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pr_info)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.publisher.pub_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.pub_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.pub_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.pub_id })
        </td>
    </tr>
}

</table>
