@model ClassProject.Models.author

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>author</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.au_lname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.au_lname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.au_fname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.au_fname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.city)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.city)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.state)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.state)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.zip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.zip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contract)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contract)
        </dd>
    </dl>

    <input type="hidden" value="@ViewBag.ReferUrl" name="referUrl" />

    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.au_id }) |
        @Html.Partial("../Shared/BackToList")
    </p>

    <hr />

    <h3>Author's Titles</h3>
    <p>
        @Html.ActionLink("Create New", "Create", "titleauthors", new { au_id = Model.au_id }, null)
    </p>
    @if (Model.titleauthors.Count != 0)
    {
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.titleauthors.First().au_ord)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.titleauthors.First().royaltyper)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.titleauthors.First().title.title1)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.titleauthors)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.au_ord)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.royaltyper)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.title.title1)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", "titleauthors", new { au_id = item.au_id, title_id = item.title_id }, null) |
                        @Html.ActionLink("Details", "Details", "titleauthors", new { au_id = item.au_id, title_id = item.title_id }, null) |
                        @Html.ActionLink("Delete", "Delete", "titleauthors", new { au_id = item.au_id, title_id = item.title_id }, null)
                    </td>
                </tr>
            }

        </table>
    }
</div>
