@model IEnumerable<ClassProject.Models.author>

@{
    ViewBag.Title = "Index";
}



<br>
<style>
    .table_head {
        border-radius: 5px;
        background-color: #f4511e;
        color: #ffffff;
    }

    .table {
        border-radius: 5px;
        width:100%;
    }
</style>
<div class="container" style="border-radius:5px;background-color:#88BDBC;padding:20px;padding-top:30px">
    <form class="form" asp-controller="Authors" asp-action="Index" method="get">
        <div class="form-row">
            <div class="form-group col-md-3">
                <input class="form-control" type="text" placeholder="@Html.DisplayNameFor(model => model.au_lname)" value="@ViewBag.Lastname" name="Lastname" />
            </div>
            <div class="form-group col-md-3">
                <input class="form-control" type="text" placeholder="@Html.DisplayNameFor(model => model.au_fname)" value="@ViewBag.Firstname" name="Firstname" />
            </div>
            <div class="form-group col-md-3">
                <input class="form-control" type="text" placeholder="@Html.DisplayNameFor(model => model.phone)" value="@ViewBag.Phone" name="Phone" />
            </div>
            <div class="form-group col-md-3">
                <input class="form-control" type="text" placeholder="@Html.DisplayNameFor(model => model.address )" value="@ViewBag.Address" name="Address" />
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-3">
                <input class="form-control" type="text" placeholder="@Html.DisplayNameFor(model => model.city)" value="@ViewBag.City" name="City" />
            </div>
            <div class="form-group col-md-3">
                <input class="form-control" type="text" placeholder="@Html.DisplayNameFor(model => model.state)" value="@ViewBag.State" name="State" />
            </div>
            <div class="form-group col-md-3">
                <input class="form-control" type="text" placeholder="@Html.DisplayNameFor(model => model.zip)" value="@ViewBag.Zip" name="Zip" />
            </div>
        </div>
        <div class="form-row ">
            <div class="form-group col-md-4">
                <input type="submit" value="Search" class="btn btn-primary">
            </div>
        </div>
    </form>
</div>
<br />
<div class="container">
    <table class="table" >
        <tr class="table_head">
            <th>
                @Html.DisplayNameFor(model => model.au_lname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.au_fname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.city)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.state)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.zip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.contract)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.au_lname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.au_fname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.city)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.state)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.zip)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.contract)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.au_id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.au_id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.au_id })
                </td>
            </tr>
        }
    </table>
</div>

